<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>836561124304-mpedmve59d5d1iickukv3tbkqjb5a912.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836561124304-mpedmve59d5d1iickukv3tbkqjb5a912</string>
	<key>API_KEY</key>
	<string>AIzaSyA95tfmaow_0NUJYh0uasIOkhmtO9ZnKXc</string>
	<key>GCM_SENDER_ID</key>
	<string>836561124304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BookIt.BookIt</string>
	<key>PROJECT_ID</key>
	<string>bookit-32319</string>
	<key>STORAGE_BUCKET</key>
	<string>bookit-32319.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836561124304:ios:6c0156a49a3989ae</string>
	<key>DATABASE_URL</key>
	<string>https://bookit-32319.firebaseio.com</string>
</dict>
</plist>